<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mediret"></activity>
        <activity android:name=".leftmedi" />
        <activity android:name=".blooddonor" />
        <activity android:name=".adminloged" />
        <activity android:name=".Admin" />
        <activity android:name=".seeappointment" />
        <activity android:name=".forget_doc" />
        <activity android:name=".donate" />
        <activity android:name=".labuser" />
        <activity android:name=".chatdoc" />
        <activity android:name=".chatuser" />
        <activity android:name=".Sign_User" />
        <activity android:name=".book" />
        <activity android:name=".user_loggedin" />
        <activity android:name=".log_user" />
        <activity android:name=".doc_loggedin" />
        <activity android:name=".Sign_Doc" />
        <activity android:name=".home_act" />
        <activity android:name=".log_doc" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>